﻿@using RestReserv.Models.Restaurant
@using RestReserv.Models.Comment
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class='container main_wrapper'>
        <div class='box-menu box-flex'>
            <div class='light title'><span>REST</span>AURANT</div>
            <div class='container_for_buttons'>
                <button id='reserve' class='light feedback'><a href='@Url.Action("Create","Order")'><span>RESERVE</span></a></button>
                <button class='light feedback'><a href='@Url.Action("Index","Order")'><span>SHOW ORDERS</span></a></button>
            </div>
        </div>
        <div class='all_feedbacks box-flex'>
            <div class='light title'>FEEDBACKS</div>
        </div>


        @if (ViewBag.Restaurants is IEnumerable<RestaurantModel> restaurants && restaurants.Any())
        {
            <div class='list_of_restaurants'>
                @foreach (var restaurant in restaurants)
                {
                <div class='rest box-flex'>
                    <div class='rest_img'></div>
                    <div class='rest_title'>@restaurant.Title</div>
                    <div class='rest_address'>@restaurant.City, @restaurant.Address</div>
                    <div class='rating'><a href='@Url.Action("AddComment","Comment", new { restaurantId = restaurant.Id })'><span>добавить отзыв</span></a></div>
                    <div class='rest_opening-hours'></div>
                </div>
                }
            </div>
        }
        else
        {
            <div>Упс..кажется у вас нет ресторанов :(</div>
        }
        <!-- вторая строка -->

        @if (ViewBag.Comments is IEnumerable<CommentModel> comments && comments.Any())
        {
            <div class='list_of_feedbacks style-10'>
                @foreach (var comment in comments)
                {
                    <div class='one_feedback'>
                        <div class='text_feedback'>@comment.Body</div>
                        <div class='data_user_feedback'>
                            <div class='name_user_feedback'>@comment.User</div>
                            <div class='date_feedback'>@comment.Date.ToShortDateString()</div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div>Кажется никто еще не осталвял отзывов..</div>
        }

    </div>
</body>
