* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.container {
    background-image: url('photo2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    /* background-position: center; */
    /* width: 600px; */
    height: 100vh;
}

.div {
    padding-top: 50px;
}

a {
    text-decoration: none;
    /* color: #fff; */
}

.none {
    display: none;
}

.wrapper {
    /*  display: flex; */
    width: 400px;
    /*  height: 450px; */
    margin-left: calc(100%/2 - 400px/2);
    background: rgba(241, 234, 211, 0.425);
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#menu span {
    font-size: 16pt;
}

.title {
    font-weight: 600;
    width: 230px;
    padding: 20px 30px;
    text-align: center;
    /* margin-top: 10px; */
    margin-left: calc(100%/2 - 290px/2);
    /*  margin-top: 15px; */
}

button {
    /* padding: 15px; */
    outline: none;
    border: 0;
}

.light {
    background-color: rgba(243, 216, 142, 0.726);
    color: #000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.wrapper_for_feedback {
    padding-top: 15px;
}

.feedback {
    font-weight: 600;
    display: block;
    padding: 15px 7px;
    width: 150px;
    margin-top: 15px;
    margin-left: calc(100%/2 - 150px/2);
}

.dark {
    background: rgb(90, 67, 67);
    color: #fff;
    font-weight: 500;
    border-radius: 25px;
    -moz-border-radius: 25px;
    /* Firefox */
    -webkit-border-radius: 25px;
    /* Safari 4 */
    border-radius: 25px;
    /* IE 9, Safari 5, Chrome */
}

.reserve {
    display: inline-block;
    width: 150px;
    height: 50px;
    text-align: center;
    vertical-align: top;
    margin: 0px 10px;
}

.wrapper_for_reserve {
    margin-top: 100px;
    margin-left: calc(100%/2 - 330px/2);
}

/* форма резервирования */

.button_reserve {
    margin-top: 110px;
    border-radius: 10px;
    outline: none;
    border: none;
    height: 40px;
    width: 216px;
}

.wrapper_for_form {
    width: 310px;
    background-color: rgba(243, 216, 142, 0.726);
    border-radius: 35px;
    margin-left: calc(100%/2 - 310px/2);
    margin-top: 15px;
    border: 1px solid rgb(167, 165, 165);
}

#form {
    width: 214px;
    margin-left: calc(100%/2 - 216px/2);
    padding-top: 15px;
    padding-bottom: 20px;
}

.title_form {
    text-align: center;
    vertical-align: center;
}

.field {
    padding-top: 15px;
    position: relative;
}

[name] {
    padding: 8px;
    border-radius: 10px;
    outline: none;
    border: 0px;
}

#address, #date, #name, #phone {
    width: 198px;
}

#time, #persons {
    width: 85px;
}

#time {
    margin-right: 6px;
}

.img_input {
    position: absolute;
    top: 18px;
    right: 3px;
    /*  margin-left: -30px; */
}

.clock {
    top: 19px;
    right: 116px;
}

/* #time{
    padding-left: 10px;
} */

/*  */

/* третий блок reservation*/

.wrapper_for_viewing_result {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
}

#address_output, #title_output, #name_output, #date_output, #time_output, #persons_output, #welcom, #home {
    /* width: 20px;
    text-align: center; */
    /* margin-left: auto;
    margin-right: auto; */
    margin: 15px auto;
}

#home {
    background: transparent;
    border: 0.5px solid rgb(145, 142, 142);
    width: 45px;
    border-radius: 10px;
    box-shadow: -1px 2px 3px 0px #A06C2C;
}

#home img {
    padding: 3px;
}

.ui-datepicker {
    font-size: 12px;
}

.ui-timepicker-wrapper {
    border-radius: 5px;
    font-size: 14px;
}

.ui-widget {
    font-size: 14px;
}

.ui-button {
    padding: 8px;
    height: 15px;
    border-radius: 10px;
    outline: none;
    background: #fff;
}

.ui-button .ui-icon {
    background-image: url('icons/streamline-icon-multiple-neutral-2@24x24.png');
}

/* первая страничка */

.main_wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 5fr;
}

.box-menu .title {
    margin: 15px 0px;
}

.box-menu {
    /* height: 50px; */
    background: rgba(241, 234, 211, 0.425);
}

.box-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container_for_buttons button {
    display: inline-block;
    margin: 0px 20px;
}

.container_for_buttons a {
    color: #000;
}

.all_feedbacks {
    display: flex;
    justify-content: center;
}

.all_feedbacks .title {
    margin: 15px 0px;
}

.list_of_restaurants {
    padding: 30px 55px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 25px;
}

.rest {
    /* border: 1px solid #000; */
    border-radius: 5px;
    padding: 15px 20px;
    flex-direction: column;
    background: rgba(241, 234, 211, 0.425);
}

.rest-img {
    /* border: 1px solid #000; */
}

.rest_title {
    font-weight: bold;
}

.list_of_feedbacks {
    background: rgba(241, 234, 211, 0.425);
}

.one_feedback {
    border-bottom: 1px solid #000;
    color: #000;
    padding: 15px 15px;
    margin: 0 15px;
}
.text_feedback{
    font-size: 14px;
}
.data_user_feedback {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.name_user_feedback {
    font-style: italic;
}

.date_feedback {
    font-weight: bold;
}

/* ******* прокрутка отзывов ******** */

.list_of_feedbacks {
    overflow: auto;
}

.list_of_feedbacks::-webkit-scrollbar {
    width: 7px;
}

.list_of_feedbacks::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: rgb(78, 75, 75);
    background-color: rgb(68, 68, 68);
    border-radius: 10px;
}

.list_of_feedbacks::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgb(201, 198, 198);
}

/* ************* таблица заказов ************ */

.wrapper_for_table_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_of_table {
    margin-top: 15px;
    background-color: rgba(243, 216, 142, 0.726);
    border-radius: 7px;
    width: 300px;
    text-align: center;
    padding: 15px 0;
}

.wrapper_for_table {
    width: 85%;
    height: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: calc(100%/2 - 85%/2);
    overflow: auto;
}

.table {
    padding: 15px 20px;
    background: rgba(241, 234, 211, 0.425);
    border-radius: 7px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1px;
}

.one_order span {
    font-weight: bold;
}

.wrapper_for_delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order_delete {
    width: 75px;
    height: 35px;
    border-radius: 5px;
    background-color: rgba(243, 216, 142, 0.726);
}

.item {
    padding: 15px;
    border-bottom: 1px solid black;
}

/* .item:last-child, .item:nth-last-child(2):nth-child(odd) {
    border-bottom: none;
} */

.item:nth-child(odd) {
    border-right: 1px solid black;
}

/* ******* прокрутка таблицы заказов ******** */

.wrapper_for_table::-webkit-scrollbar {
    width: 7px;
}

.wrapper_for_table::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: rgb(78, 75, 75);
    background-color: rgb(68, 68, 68);
    border-radius: 10px;
}

.wrapper_for_table::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgb(201, 198, 198);
}

.ok {
    width: 50px;
    height: 30px;
    margin-left: calc(100%/2 - 50px/2);
    border-radius: 5px;
    background-color: rgba(243, 216, 142, 0.726);
}

.ok a {
    color: #000;
    font-weight: bold;
}