﻿
@using RestReserv.Models.Restaurant
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class='container'>
        <div class='div'>
            <div id='choose' class='wrapper'>
                <div class='wrapper_for_form'>
                    <form id='form' method="post">
                        <p class='title_form'>CHOOSE THE BEST TABLE</p><br>

                        <div class='field'>

                            <select id='address' name='restaurantId' area-placeholder='Address' required>
                                <option value='0'>Выберите адрес</option>
                                @if (ViewBag.Restaurants is IEnumerable<RestaurantModel> restaurants)
                                {
                                    @foreach (var restaurant in restaurants)
                                    {
                                        <option value='@restaurant.Id'>@restaurant.City,  @restaurant.Address</option>
                                    }
                                }
                                @*<option value='2'>Брест, ул.Октябрьская, 10</option>
        <option value='3'>Иваново, ул.Северная, 4</option>
        <option value='4'>Минск, ул.Немига, 5</option>
        <option value='5'>Витебск, ул.Великоморская, 54</option>
        <option value='6'>Минск, ул.Гурского, 1</option>*@
                            </select>
                        </div>

                        <div class='field'>
                            <input id="date" name='date' placeholder="Date" class="textbox-n" type="text"
                                   readonly='true' required />
                            <!--  onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'" /> -->
                            <img id='calendar' class='img_input' src='~/icons/streamline-icon-calendar-1@24x24.png' />
                            <!-- <input id='date' name='date' type='date'> -->
                        </div>

                        <div class='field'>
                            <input id='time' name='time' type='text' placeholder="Time" required>
                            <img class='img_input clock' src='~/icons/streamline-icon-time-clock-circle-1@24x24.png'>
                            <select id='persons' name='countPerson' area-placeholder='persons' required>
                                <option value='default'></option>
                                <option value='1'>1</option>
                                <option value='2'>2</option>
                                <option value='3'>3</option>
                                <option value='4'>4</option>
                                <option value='5'>5</option>
                                <option value='6'>6</option>
                            </select>
                        </div>

                        <div class='field'>
                            <input id='name' name='userName' type='name' placeholder="Name">
                            <img class='img_input' src='~/icons/streamline-icon-single-neutral@24x24.png'>
                        </div>

                        <div class='field'>
                            <input id='phone' name='phone' type='phone' placeholder="Your number">
                            <img class='img_input' src='~/icons/streamline-icon-phone@24x24.png'>
                        </div>

                        <input id='form_reserve' type='submit' class='dark button_reserve' value='RESERVE'>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>