﻿
@using RestReserv.Models.Order
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class='container'>
        <div class='div'>

            <div id='reservation' class='wrapper'>
                <div class='wrapper_for_viewing_result wrapper_for_form'>
                    @if (ViewBag.Order is OrderModel order)
                    {
                    <p id='title_output'>YOUR RESERVATION</p><br>
                    <p id='name_output' class=''>@order.UserName</p>
                    <p id='date_output' class=''><img src='~/icons/streamline-icon-calendar-1@32x32.png'>@order.Date</p>
                    <p id='time_output' class=''><img src='~/icons/streamline-icon-time-clock-circle-1@32x32.png'>@order.Time</p>
                    <p id='persons_output' class=''><img src='~/icons/streamline-icon-multiple-neutral-2@32x32.png'>@order.CountPerson</p>
                    <p id='address_output' class=''></p>
                    <p id='welcom'>WAITING FOR YOU!</p>
                    <button id='home' class=''>
                        <a href='@Url.Action("Index","Order")'>
                            <img src='~/icons/streamline-icon-house-chimney-1@34x34.png'></img>
                        </a>
                    </button>
                    }
                </div>

            </div>
        </div>
    </div>
</body>


