﻿@using RestReserv.Models.Order

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Orders is IEnumerable<OrderModel> orders)
{

    <body>
        <div class='container'>
            <div class='wrapper_for_table_title'>
                <h3 class='title_of_table'>TABLE OF ORDERINGS</h3>
            </div>
            <div class='wrapper_for_table style-10'>
                <div class='table'>
                    @foreach (var order in orders)
                    {
                        <div class='item one_order'>
                            <div class='order_name'><span>ИМЯ: @order.UserName</span></div>
                            <div class='order_date'><span>ДАТА: @order.Date</span></div>
                            <div class='order_time'><span>ВРЕМЯ: @order.Time</span></div>
                            <div class='order_persons'><span>КОЛИЧЕСТВО ЧЕЛОВЕК: @order.CountPerson</span></div>
                            <div class='order_phone'><span>ТЕЛЕФОН: </span></div>
                            <div class='order_address'><span>АДРЕСС РЕСТОРАНА: </span></div>
                        </div>

                        <div class='item wrapper_for_delete'>
                            <button class='order_delete'><a href='@Url.Action("Delete","Order", new { id = order.Id })'>DELETE</a></button>
                        </div>
                    }
                </div>
            </div>

            <button class='ok'><a href='@Url.Action("Index","Rest")'>OK</a></button>
        </div>
    </body>
}
else
{
    <h2>Заказов нет.</h2>
}

