﻿@using RestReserv.Models.Comment
@using RestReserv.Models.Restaurant

@{
    ViewData["Title"] = "AddComment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class='container'>
        <div class='div'>
            <div id='choose' class='wrapper'>
                <div class='wrapper_for_form'>
                    <form id='form' method="post">
                        @if (ViewBag.Restaurnt is RestaurantModel restaurant)
                        {
                            <p class='title_form'>Добавить отзыв, @restaurant.Title!</p><br>
                        }

                        <div class='field'>
                            <input id='name' name='user' placeholder="Your name">
                            <img class='img_input' src='~/icons/streamline-icon-single-neutral@24x24.png'>
                        </div>

                        <div class='field'>
                            <textarea id='body' name="body" cols="26" rows="15" placeholder="Your comment"></textarea>
                            @*<img class='img_input' src='~/icons/streamline-icon-phone@24x24.png'>*@
                        </div>

                        <input id='form_reserve' type='submit' class='dark button_reserve' value='Продолжить'>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
