﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>rest</title>
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>

    <script src="~/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <link href="~/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />

    <script src='~/jquery-timepicker-master/jquery.timepicker.min.js'></script>
    <link href='~/jquery-timepicker-master/jquery.timepicker.min.css' rel='stylesheet' />
    <link href="~/style.css" rel="stylesheet" />

    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>

    <script src="~/file.js"></script>
</head>

<body>
    @RenderBody()
</body>
</html>